# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

# Environments
.venv/
venv/
env/
ENV/

# Databases
*.db
*.sqlite3

# Logs and Data
*.log
*.csv
app_error.log
app_error_utf8.log
worker_logs.csv

# Application Specific & Sensitive Local Data
settings.json

# Static Event Images
static/events/*
!static/events/.gitkeep

# Training Data, Datasets, and Model Training Runs
box_dataset/
datasets/
imagesbox/
runs/
worker_cls_train/

# Media and Outputs
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png
outputs/
worker_images/
chair_images/

# Auto-downloaded/Generated AI Models & Weights (.pt, .onnx, etc.)
*.onnx
*.pt
*.pth
weights/
models/
best_openvino_model/

# OS and Editor Files
.vscode/
.idea/
.DS_Store
Thumbs.db

